*{


/* blue: */
color: #26d3e0;

/* purple */
color: rgb(182, 96, 232);

/* light purple */
color: rgb(39, 42, 78);


/* dark purple */
color: rgb(21, 23, 46);


/* 3rd mid purple */
color: rgb(31, 34, 67);

}


/* number_format($sub_total, 2) */

