*{


/* blue: */
color: #26d3e0;

/* purple */
color: #b660e8;

/* light purple */
color: #272a4e;


/* dark purple */
color: #15172e;


/* 3rd mid purple */
color: rgb(31, 34, 67);

background: linear-gradient(144deg, #26d3e0, #b660e8);

}


/* number_format($sub_total, 2) */

/* &#8369; */